@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}
html body {
  min-width: 320px;
}
html img {
  width: 100%;
  height: auto;
}
html p {
  text-align: center;
}
html h1,
html h2,
html h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

main nav#navbar {
  height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  transition: background-color 0.7s;
}
main nav#navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
main nav#navbar ul li a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}
main nav#navbar ul li a:hover {
  color: #0652dd;
  opacity: 1;
}
main section {
  padding: 3rem 1rem;
}
main section .section-heading {
  color: #15314e;
  margin-bottom: 2rem;
}
main section .section-content {
  max-width: 1000px;
  margin: 0 auto;
}
main section#welcome-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  min-height: 350px;
  padding: 0;
  margin-top: -50px;
}
main section#welcome-section .welcome-img {
  background-image: url("https://i.ibb.co/wSs4qSm/developer.webp");
  background-size: cover;
  background-position: center;
}
main section#welcome-section .placeholder-background {
  display: none;
  background-color: #193b5f;
}
main section#welcome-section .greeting {
  color: white;
  background-color: rgba(0,72,114,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
main section#welcome-section .greeting h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main section#about p {
  margin-bottom: 2rem;
}
main section#about .about-img {
  text-align: center;
}
main section#about .about-img img {
  max-width: 350px;
}
main section#skills {
  min-height: 500px;
  color: white;
  background-color: rgb(25, 59, 95);
  margin-top:50px;
}
main section#skills .section-heading {
  color: white;
}
main section#skills .skill {
  text-align: center;
  margin-top: 3rem;
  border: 1px solid;
  border-radius: 27px;
  padding: 22px;
  margin: 5px;
  transition: box-shadow 0.5s;
}

main section#skills .skill:hover {
  box-shadow: 0px 0px 16px 6px rgb(255 255 255 / 37%);
}
main section#skills .skill i {
  font-size: 3rem;
}
main section#skills .skill h2 {
  font-size: 1.1rem;
  margin: 1rem;
}
main section#projects p {
  margin-bottom: 2rem;
}
main section#projects .project-container {
  display: grid;
  grid-gap: 0.5rem;
}
main section#projects .project-tile {
  cursor: pointer;
  position: relative;
  line-height: 0;
}
main section#projects .project-tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #15314e;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
main section#projects .project-tile:hover::before {
  opacity: 0.5;
}
main section#contact {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.ibb.co/F0CNsTh/laptop.jpg");
  background-size: cover;
}
main section#contact > * {
  z-index: 2;
}
main section#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0652dd;
  opacity: 0.8;
}
main section#contact .section-heading {
  color: white;
}
main section#contact #profile-link {
  padding: 1.5rem 2rem;
  background-color: #1b1464;
  font-weight: 800;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
main section#contact #profile-link:hover {
  background-color: #3225b9;
}

footer {
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: black;
}

@media screen and (min-width: 568px) {
  main nav#navbar ul {
    width: 60%;
    max-width: 600px;
    margin-left: auto;
  }
  main nav#navbar ul li {
    font-size: 1.1rem;
  }
  main section#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  main section#welcome-section .placeholder-background {
    display: block;
    grid-row: 1/span 1;
    grid-column: 2/span 1;
  }
  main section#welcome-section .greeting {
    max-width: 500px;
    height: 60%;
    margin-left: -5rem;
    grid-row: 1/span 1;
    grid-column: 2/span 1;
    align-self: center;
  }
  main section#welcome-section .greeting > * {
    text-align: left;
  }
  main section#about .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
  }
  main section#about .section-content .about-img {
    justify-self: center;
  }
  main section#about .section-content p {
    max-width: 400px;
    text-align: left;
    margin-left: auto;
  }
  main section#projects .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main section#projects .project-container p {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 720px) {
  p {
    font-size: 1.1rem;
  }

  main .section-heading {
    font-size: 2rem;
  }
  main section#welcome-section .greeting {
    margin-left: -10rem;
    max-width: 600px;
  }
  main section#welcome-section .greeting h1 {
    font-size: 3rem;
    line-height: 1;
  }
  main section#skills .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main section#skills .skill-container h2 {
    font-size: 1.4rem;
  }
  main section#skills .skill-container i {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  main .section-heading {
    font-size: 2.5rem;
  }
  main section#welcome-section .greeting {
    padding-left: 2rem;
    max-width: 700px;
  }
  main section#welcome-section .greeting h1 {
    font-size: 3.5rem;
  }
  main section#welcome-section .greeting p {
    font-size: 1.2rem;
  }
  main section#about .section-content {
    grid-column-gap: 0;
  }
  main section#projects .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*PROFILE IMAGE*/
.section-profile-img {
  position: relative;
}

.border {
  height: 40px;
  transition: transform 1s;
  border-radius: 100%;
  z-index: -1;
  -webkit-animation: 2s linear infinite;
  animation: 4s linear infinite;
  border-width: 202px;
  -webkit-animation-name: ubx4b7n;
  animation-name: ubx4b7n;
}

@-webkit-keyframes ubx4b7n {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ubx4b7n {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dotted {
  border-style: dotted;
  border-color: rgb(0 72 114);
}

.profile-img {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color:#15314e;
  border-radius: 100%;
  z-index: 9;
}
/*PROFILE IMAGE [END]*/

/*SKILLS IMAGES*/
.php-skill{
  max-width: 150px;
}

.html-js-skill{
  max-width: 180px;
}

.wordpress-skill{
  max-width: 105px;
}

.react-skill{
  max-width: 190px;
}

.java-skill{
  max-width: 130px;
}

.node-skill{
  max-width: 210px;
}
/*SKILLS IMAGES[END]*/

/*CSS : FIREFOX */
@-moz-document url-prefix() { 
  .border {
    height: 16px !important;
    border-radius: 0% !important;
    border-width: 169px !important;
    width: 20% !important;
    margin-left: 14% !important; 
  }
}
/*CSS : FIREFOX [END] */

/*CSS : PROJECTS  */
.project-tile .project-info{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 18%;
}

.project-info{
  display: none;
}
.project-info i{
  font-size: 50px;
  margin-bottom: 45px;
}

.project-name{
  font-weight: bold;
}

.project-ling{
  background-color: #ff8a3d;
  padding: 15px;
  margin: 5px;
  border-radius: 40px;
}

.project-info i, .project-info p{
  color: #fff;
}

.project-tile:hover .project-info{
  display: block;
}

/*CSS : PROJECTS [END] */
